<div class="row">
    <div class="display">{{display.value}}</div>
</div>
<div class="button-row">
    {{#calculator-button action=(action 'clear')}}
        AC
    {{/calculator-button}}
    {{#calculator-button action=(action 'setOperation' '+/-')}}
        +/-
    {{/calculator-button}}
    {{#calculator-button action=(action 'setOperation' '%')}}
        %
    {{/calculator-button}}
    {{#calculator-button action=(action 'setOperation' '/')}}
        &divide;
    {{/calculator-button}}
</div>
<div class="button-row">
    {{#calculator-button action=(action 'appendInput' '1')}}
        1
    {{/calculator-button}}
    {{#calculator-button action=(action 'appendInput' '2')}}
        2
    {{/calculator-button}}
    {{#calculator-button action=(action 'appendInput' '3')}}
        3
    {{/calculator-button}}
    {{#calculator-button action=(action 'setOperation' '*')}}
        ×
    {{/calculator-button}}
</div>
<div class="button-row">
    {{#calculator-button action=(action 'appendInput' '4')}}
        4
    {{/calculator-button}}
    {{#calculator-button action=(action 'appendInput' '5')}}
        5
    {{/calculator-button}}
    {{#calculator-button action=(action 'appendInput' '6')}}
        6
    {{/calculator-button}}
    {{#calculator-button action=(action 'setOperation' '-')}}
        -
    {{/calculator-button}}
</div>
<div class="button-row">
    {{#calculator-button action=(action 'appendInput' '7')}}
        7
    {{/calculator-button}}
    {{#calculator-button action=(action 'appendInput' '8')}}
        8
    {{/calculator-button}}
    {{#calculator-button action=(action 'appendInput' '9')}}
        9
    {{/calculator-button}}
    {{#calculator-button action=(action 'setOperation' '+')}}
        +
    {{/calculator-button}}
</div>
<div class="button-row">
    {{#calculator-button class="number zero" action=(action 'appendInput' '0')}}
        0
    {{/calculator-button}}
    {{#calculator-button action=(action 'appendInput' '.')}}
        .
    {{/calculator-button}}
    {{#calculator-button action=(action 'calculate')}}
        =
    {{/calculator-button}}
</div>
