@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.calculator {
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    height: 400px;
    font-size: 1.5em;
    line-height: 1.5em;
    box-sizing: border-box;

    $border-color: #DADADA;

    .button {
        text-align: center;
        width: 1/4 * 100%;
        display: inline-block;
        height: 1/7 * 100%;
        box-sizing: inherit;
        padding: 8px;
        cursor: pointer;
        float: left;
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
    }

    .display {
        width: 100%;
        text-align: right;
        padding: 16px;
        box-sizing: inherit;
        float: left;
        background-color: #3B484F;
        color: #FFF;
        font-size: 2em;
        padding-top: 30px;
        font-weight: 300;
    }

    .top {
        background-color: #E6EAEC;
    }

    .right {
        color: #FFF;
        background-color: rgb(198, 0, 0);
        border-right: 1px solid rgb(198, 0, 0);
    }

    .number {
        background-color: #FFF;
        color: #72848B;
    }
    .zero {
        width: 1/2 * 100%;
    }
}
