@import 'reset';
@import 'noselect';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.calculator {
    @extend .noselect;

    font-family: 'Open Sans', sans-serif;
    width: 300px;
    height: 400px;
    font-size: 1.5em;
    line-height: 1.5em;
    box-sizing: border-box;

    $offwhite: #EAEAEA;

    .button {
        text-align: center;
        width: 1/4 * 100%;
        display: inline-block;
        height: 1/7 * 100%;
        box-sizing: inherit;
        padding: 8px;
        cursor: pointer;
        float: left;
    }

    $right-button-bg-color: rgb(198, 0, 53);

    .right {
        color: $offwhite;
        background-color: $right-button-bg-color;

    }

    .right.down {
        background-color: lighten($right-button-bg-color, 10);
    }

    .number {
        background-color: $offwhite;
        color: #72848B;
    }

    .number.down {
        background-color: lighten($offwhite, 3);
    }

    .display {
        width: 100%;
        text-align: right;
        padding: 16px;
        box-sizing: inherit;
        float: left;
        background-color: #3B484F;
        color: $offwhite;
        font-size: 2em;
        padding-top: 30px;
        font-weight: 300;
    }

    $top-button-bg-color: darken(#E6EAEC, 10);

    .top {
        background-color: $top-button-bg-color;
        color: #72848B;
    }

    .top.down {
        background-color: lighten($top-button-bg-color, 3);
    }

    .zero {
        width: 1/2 * 100%;
    }
}
