@import 'reset';
@import 'noselect';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.calculator {
    @extend .noselect;

    font-family: 'Open Sans', sans-serif;
    width: 300px;
    height: 400px;
    font-size: 1.5em;
    line-height: 1.5em;
    box-sizing: border-box;

    $offwhite: #EAEAEA;

    $right-button-bg-color: rgb(198, 0, 53);

    .row {
        display: flex;
        width: 100%;
    }

    .button-row {
        @extend .row;
        :last-child {
            color: $offwhite;
            background-color: $right-button-bg-color;
            width: 25%;
        }
        :last-child.down {
            background-color: lighten($right-button-bg-color, 10);
        }
    }

    .button {
        background-color: $offwhite;
        color: #72848B;
        text-align: center;
        display: inline-block;
        box-sizing: inherit;
        padding: 8px;
        cursor: pointer;
        flex: 1;
    }

    .button.down {
        background-color: lighten($offwhite, 3);
    }

    .display {
        text-align: right;
        padding: 16px;
        box-sizing: inherit;
        background-color: #3B484F;
        color: $offwhite;
        font-size: 2em;
        padding-top: 30px;
        font-weight: 300;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        flex: 1;
    }

    .zero {
        flex: 2.25;
    }

    .calculate {
        flex: 1;
        align-content: center;
    }
}
