{
    "extends": "ember",
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "arrowFunctions": true,
        "binaryLiterals": true,
        "classes": true,
        "defaultParams": true,
        "modules": true,
        "generators": true,
        "objectLiteralComputerProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
    },
    "parser": "babel-eslint",
    "rules": {
        "array-bracket-spacing": [2, "always"],
        "arrow-body-style": ["error", "as-needed"],
        "arrow-parens": [2, "always"],
        "arrow-spacing": [2, { "before": true, "after": true }],
        "block-scoped-var": 2,
        "brace-style": ["error", "stroustrup"],
        "camelcase": [2, {"properties": "always"}],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "constructor-super": 2,
        "curly": 1,
        "default-case": 2,
        "dot-notation": 1,
        "eqeqeq": 2,
        "guard-for-in": 2,
        "indent": ["error", "tab"],
        "max-nested-callbacks": [2, 3],
        "new-cap": 2,
        "new-parens": 2,
        "no-alert": 1,
        "no-caller": 2,
        "no-const-assign": 2,
        "no-constant-condition": 0,
        "no-dupe-args" : 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-else-return": 2,
        "no-empty" : 2,
        "no-eval": 2,
        "no-extra-parens": 2,
        "no-func-assign": 2,
        "no-implied-eval": 2,
        "no-inner-declarations": 2,
        "no-labels": ["error"],
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-magic-numbers": ["warn", { "ignore": [0,1,2,3] }],
        "no-mixed-spaces-and-tabs": 2,
        "no-multi-spaces": 2,
        "no-negated-in-lhs": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-obj-calls": 2,
        "no-return-assign": 2,
        "no-self-compare": 2,
        "no-shadow": 1,
        "no-unreachable": 2,
        "no-use-before-define": 0,
        "no-void": 2,
        "no-with": 2,
        "no-ternary": 0,
        "no-undefined": 0,
        "prefer-const": 1,
        "prefer-reflect": 0,
        "prefer-spread": 1,
        "prefer-rest-params": 1,
        "radix": 2,
        "require-yield": 2,
        "semi": 2,
        "space-before-blocks": [1, "always"],
        "space-before-function-paren": [1, "always"],
        "space-infix-ops": [2, {"int32Hint": false}],
        "spaced-comment": [2, "always"],
        "strict": 2,
        "use-isnan": 2,
        "valid-typeof": 2,
        "wrap-iife": 2,
        "keyword-spacing": "error",
        "object-curly-spacing": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "phantomjs": true,
        "jquery": true,
        "qunit": true,
        "es6": true
    }
}
